/*
Loading throbber inspired by http://codepen.io/mrrocks/pen/EiplA?editors=110
*/

$radius: 46;
$offset: 2*3.14*$radius;

.header {
    transition: all 0.5s ease-in-out;

    .placeholder {
        float: right;
    }
    p {
        margin-top: 20px;
        font-family: 'Raleway';
        font-size: 18px;
        color: #888;
        text-align: center;
    }
    a {
        text-decoration: none;
    }
    svg {
        display: inline-block;
    }
    svg circle {
        fill: transparent;
        stroke: tomato;
        stroke-width: 8px;
    }
    svg text {
        font-family: 'Changa One';
        font-size: 20.3px;
        fill: #131313;
        &.hero {
            font-size: 75.0px;
            fill: #131313;
        }
    }

    svg {
        .base {
            opacity: 0.2;
            transition: opacity 0.5s ease-in-out;
            &.ready {
                opacity: 1;
            }
        }
        .loader {
            transform-origin: center;
            stroke-dasharray: $offset;
            stroke-linecap: round;
            stroke-dashoffset: 0;
            transform-origin: center;
            @include animation(dasher 1.5s ease-in-out infinite,
                               rotator 1.5s linear infinite);
            transition: opacity 0.5s ease-in-out;
            &.finished {
                opacity: 0;
            }
        }
    }
}

@include keyframes(dasher) {
    0%   { stroke-dashoffset: $offset; }
    50%  { stroke-dashoffset: $offset/4; }
    100% { stroke-dashoffset: $offset;}
}

@include keyframes(rotator) {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@include keyframes(hide) {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}