.header {
    transition: all 0.5s ease-in-out;

    .placeholder {
        float: right;
    }
    p {
        margin-top: 20px;
        font-family: 'Raleway';
        font-size: 18px;
        color: #888;
        text-align: center;
    }
    a {
        text-decoration: none;
    }
    svg {
        display: inline-block;
    }
    svg circle {
        fill: transparent;
        stroke: tomato;
        stroke-width: 8px;
    }
    svg text {
        font-family: 'Changa One';
        font-size: 20.3px;
        fill: #131313;
        &.hero {
            font-size: 75.0px;
            fill: #131313;
        }
    }
}