html {
    height: 100%;
    margin: 40px;
}

body {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;

    margin: 0 auto;
    height: calc(100% - 80px);

    @media (max-width:535px) {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

body, html { 
    overflow: hidden;
}

.header {
    z-index: 5;

    position: relative;
    top: calc(50% - 180px);

    width: 250px;
    height: 250px;

    @media (max-width:925px) {
        top: calc(50% - 115px);
        width: 150px;
        height: 150px;
    }

    @media (max-width:535px) {
        width: 100%;
        height: 100px;
        top: 0;
        margin-bottom: 20px;
        svg {
            width: 100px;
            height: 100px;
        }
        a {
            display: inline-block;
            vertical-align: middle;
        }
        p {
            display: inline-block;
            width: calc(100% - 104px);
            vertical-align: middle;
        }

        .highscore {
            display: none;
        }
    }


}

.numbers {
    min-width: 10em;
    margin: 0 50px;

    @media (max-width:925px) {
        min-width: 5em;
        margin: 0 50px;
    }

     @media (max-width:535px) {
        margin: 0;
        width: 100px;
     }
}

.timestamps {
    width: 250px;

    @media (max-width:925px) {
        width: 150px;
    }

    @media (max-width:535px) {
        margin: 0;
        width: 100px;
     }
}
