.timestamps {
    .timestamp {
        color: #ddd;
        position: relative;
        display: block;
        font-family: 'Changa One';
        font-size: 15px;
        line-height: 30px;
        margin: 0;
        text-align: center;
        white-space: nowrap;
    }
}