.timestamps {
    transition: all 0.5s ease-in-out;
    opacity: 1;

    .timestamp {
        color: #ddd;
        position: relative;
        display: block;
        font-family: 'Changa One';
        font-size: 15px;
        line-height: 30px;
        margin: 0;
        white-space: nowrap;
    }

    .action {
        font-family: 'Changa One';
        display: inline-block;
        width: 250px;
        line-height: 30px;
        text-align: left;
        cursor: pointer;
        right: auto;
        //margin-left: 16px;
        font-size: 30px;
        color: tomato;
    }

    &.not-ready {
        opacity: 0;
    }
}